@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  src:
    url('/src/assets/fonts/PretendardVariable.woff2') format('woff2'),
    url('/src/assets/fonts/PretendardVariable.ttf') format('truetype');
  font-display: 'fallback';
}

html,
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-synthesis: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@layer components {
  /* 폰트 설정하기 */
  .title-1 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .title-2 {
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 2rem;
  }

  .head-1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .head-2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .head-3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .body-1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .body-2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .body-3 {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0rem;
  }

  .button-1 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .button-2 {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .caption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@layer utilities {
  .no-scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
