@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/src/assets/fonts/PretendardVariable.woff2') format('woff2');
  font-display: 'fallback';
}

body {
  font-family: 'Pretendard', sans-serif;
}

@layer components {
  /* 폰트 설정하기 */
  .head-1 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.0625rem;
  }

  .head-2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: -0.5%;
  }

  .head-3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -1%;
  }

  .body-1 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.015625rem;
  }

  .body-2 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.015625rem;
  }

  .body-3 {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0rem;
  }

  .button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -0.0125rem;
  }

  .chips {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: -0.03125rem;
  }

  .caption {
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: 2%;
  }
}
