@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  src:
    url('/src/assets/fonts/PretendardVariable.woff2') format('woff2'),
    url('/src/assets/fonts/PretendardVariable.ttf') format('truetype');
  font-display: 'fallback';
}

html,
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-synthesis: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@layer components {
  /* 폰트 시스템 최신화 (1rem=16px) */

  /* Heading */
  .heading-28-semibold {
    font-weight: 600;
    font-size: 1.75rem; /* 28px */
    line-height: 140%;
    letter-spacing: -0.0125em; /* -0.75% */
  }
  .heading-24-semibold {
    font-weight: 600;
    font-size: 1.5rem; /* 24px */
    line-height: 140%;
    letter-spacing: -0.0125em;
  }
  .heading-20-semibold {
    font-weight: 600;
    font-size: 1.25rem; /* 20px */
    line-height: 140%;
    letter-spacing: -0.008em; /* -0.5% */
  }
  .heading-18-semibold {
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
    line-height: 140%;
    letter-spacing: -0.008em;
    color: #17181a;
  }
  .heading-16-semibold {
    font-weight: 600;
    font-size: 1rem; /* 16px */
    line-height: 140%;
    letter-spacing: -0.008em;
  }

  /* Body */
  .body-18-regular {
    font-weight: 400;
    font-size: 1.125rem; /* 18px */
    line-height: 140%;
    letter-spacing: -0.004em; /* -0.25% */
  }
  .body-18-medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: -0.004em;
  }
  .body-16-regular {
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 140%;
    letter-spacing: -0.004em;
  }
  .body-16-medium {
    font-weight: 500;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: -0.004em;
  }
  .body-16-regular-reading {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.004em;
  }
  .body-14-regular {
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 140%;
    letter-spacing: -0.004em;
  }
  .body-14-medium {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 140%;
    letter-spacing: -0.004em;
  }
  .body-14-regular-reading {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 150%;
    letter-spacing: -0.004em;
  }

  /* Caption */
  .caption-12-regular {
    font-weight: 400;
    font-size: 0.75rem; /* 12px */
    line-height: 140%;
    letter-spacing: -0.008em;
  }
  .caption-12-semibold {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 140%;
    letter-spacing: -0.008em;
  }
  .caption-11-regular {
    font-weight: 400;
    font-size: 0.6875rem; /* 11px */
    line-height: 140%;
    letter-spacing: -0.008em;
  }
  .caption-11-semibold {
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 140%;
    letter-spacing: -0.008em;
  }

  /* Button */
  .button-16-semibold {
    font-weight: 600;
    font-size: 1rem; /* 16px */
    line-height: 130%;
    letter-spacing: -0.008em;
  }
  .button-14-semibold {
    font-weight: 600;
    font-size: 0.875rem; /* 14px */
    line-height: 130%;
    letter-spacing: -0.008em;
  }
}

@layer utilities {
  .no-scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
